In [3]:
import pandas as pd
foreigner = pd.read_csv('./외국인__시군구_20230913163658.csv', encoding='euc_kr')
foreigner2 = foreigner
foreigner2

    행정구역별(시군구)     2017     2018     2019     2020     2021
0   행정구역별(시군구)      외국인      외국인      외국인      외국인      외국인
1           전국  1479247  1651561  1778918  1695643  1649967
2           읍부   168383   196488   218491   208405   206294
3           면부   242782   266223   282939   256636   241648
4           동부  1068082  1188850  1277488  1230602  1202025
5        서울특별시   343927   374425   390177   366454   347080
6        부산광역시    48808    55506    60502    54914    53334
7        대구광역시    31365    35280    40092    37398    36956
8        인천광역시    79170    88489   100174    99212   100379
9        광주광역시    26052    29833    33286    30573    30497
10       대전광역시    20534    22858    25147    22928    23263
11       울산광역시    26601    27162    28604    26895    25388
12     세종특별자치시     5290     6486     7829     7244     6991
13         경기도   497089   558197   594795   583462   571204
14         강원도    20996    24149    27008    24654    24582
15        충청북도    48237    54835    59783    57094    56631
16        충청남도    84752    95838   104018    99166    98612
17        전라북도    33764    39131    43960    42366    41047
18        전라남도    37212    42520    47778    45236    44159
19        경상북도    63978    74071    81840    74547    72798
20        경상남도    91072    97494   105908    96669    91836
21     제주특별자치도    20400    25287    28017    26831    25210

In [26]:
foreigner2.rename(index = {6:'부산'}, inplace=True)
foreigner2

    행정구역별(시군구)     2017     2018     2019     2020     2021
0   행정구역별(시군구)      외국인      외국인      외국인      외국인      외국인
1           전국  1479247  1651561  1778918  1695643  1649967
2           읍부   168383   196488   218491   208405   206294
3           면부   242782   266223   282939   256636   241648
4           동부  1068082  1188850  1277488  1230602  1202025
5        서울특별시   343927   374425   390177   366454   347080
부산       부산광역시    48808    55506    60502    54914    53334
7        대구광역시    31365    35280    40092    37398    36956
8        인천광역시    79170    88489   100174    99212   100379
9        광주광역시    26052    29833    33286    30573    30497
10       대전광역시    20534    22858    25147    22928    23263
11       울산광역시    26601    27162    28604    26895    25388
12     세종특별자치시     5290     6486     7829     7244     6991
13         경기도   497089   558197   594795   583462   571204
14         강원도    20996    24149    27008    24654    24582
15        충청북도    48237    54835    59783    57094    56631
16        충청남도    84752    95838   104018    99166    98612
17        전라북도    33764    39131    43960    42366    41047
18        전라남도    37212    42520    47778    45236    44159
19        경상북도    63978    74071    81840    74547    72798
20        경상남도    91072    97494   105908    96669    91836
21     제주특별자치도    20400    25287    28017    26831    25210

In [21]:
foreigner2['행정구역별(시군구)']

0     행정구역별(시군구)
1             전국
2             읍부
3             면부
4             동부
5          서울특별시
6          부산광역시
7          대구광역시
8          인천광역시
9          광주광역시
10         대전광역시
11         울산광역시
12       세종특별자치시
13           경기도
14           강원도
15          충청북도
16          충청남도
17          전라북도
18          전라남도
19          경상북도
20          경상남도
21       제주특별자치도
Name: 행정구역별(시군구), dtype: object

In [30]:
for i in range(2017,2020):
    i = str(i)
    print(i+'안녕')
    #foreigner2=foreigner2.drop([i],axis=1)
#foreigner2

2017안녕
2018안녕
2019안녕

In [81]:
age = pd.read_csv('./201701_202112_주민등록인구기타현황(평균연령)_avgAge.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
age2 = age.copy()
age2

,행정구역,2017년01월_남자 평균연령,2017년01월_여자 평균연령,2017년01월_평균연령,2017년02월_남자 평균연령,2017년02월_여자 평균연령,2017년02월_평균연령,2017년03월_남자 평균연령,2017년03월_여자 평균연령,2017년03월_평균연령,...,2021년09월_평균연령,2021년10월_남자 평균연령,2021년10월_여자 평균연령,2021년10월_평균연령,2021년11월_남자 평균연령,2021년11월_여자 평균연령,2021년11월_평균연령,2021년12월_남자 평균연령,2021년12월_여자 평균연령,2021년12월_평균연령
0,전국 (1000000000),39.9,42.2,41.1,40.0,42.3,41.1,40.0,42.3,41.2,...,43.6,42.5,44.7,43.6,42.5,44.8,43.7,42.6,44.8,43.7
1,서울특별시 (1100000000),40.3,42.1,41.2,40.4,42.1,41.3,40.4,42.1,41.3,...,43.4,42.7,44.3,43.5,42.7,44.3,43.5,42.7,44.3,43.6
2,부산광역시 (2600000000),41.6,44.1,42.8,41.6,44.1,42.9,41.7,44.2,42.9,...,45.4,44.2,46.7,45.5,44.2,46.7,45.5,44.3,46.8,45.6
3,대구광역시 (2700000000),39.8,42.6,41.2,39.8,42.6,41.2,39.9,42.7,41.3,...,43.9,42.5,45.3,44.0,42.6,45.4,44.0,42.6,45.4,44.1
4,인천광역시 (2800000000),39.0,40.9,40.0,39.1,40.9,40.0,39.2,41.0,40.1,...,42.7,41.8,43.7,42.8,41.8,43.8,42.8,41.9,43.8,42.8
5,광주광역시 (2900000000),37.9,40.3,39.1,38.0,40.3,39.2,38.0,40.4,39.2,...,41.7,40.6,42.9,41.8,40.6,43.0,41.8,40.7,43.0,41.9
6,대전광역시 (3000000000),38.5,40.6,39.5,38.5,40.6,39.6,38.6,40.7,39.6,...,42.3,41.3,43.4,42.3,41.3,43.5,42.4,41.4,43.5,42.4
7,울산광역시 (3100000000),38.1,39.9,39.0,38.1,40.0,39.0,38.2,40.1,39.1,...,42.1,41.2,43.2,42.2,41.3,43.2,42.2,41.3,43.3,42.3
8,세종특별자치시 (3600000000),36.1,37.5,36.8,36.1,37.5,36.8,36.1,37.4,36.8,...,37.7,37.1,38.2,37.7,37.2,38.3,37.7,37.2,38.3,37.7
9,경기도 (4100000000),38.5,40.2,39.3,38.5,40.2,39.4,38.6,40.3,39.4,...,41.8,40.9,42.7,41.8,41.0,42.7,41.8,41.0,42.8,41.9
10,강원도 (4200000000),42.0,45.1,43.5,42.1,45.2,43.6,42.1,45.2,43.7,...,46.3,44.9,47.9,46.4,44.9,47.9,46.4,44.9,48.0,46.4
11,충청북도 (4300000000),40.5,43.3,41.9,40.6,43.3,42.0,40.7,43.4,42.0,...,44.5,43.2,46.0,44.6,43.3,46.0,44.6,43.3,46.1,44.7
12,충청남도 (4400000000),40.7,43.5,42.1,40.8,43.6,42.2,40.8,43.6,42.2,...,44.6,43.3,46.1,44.7,43.3,46.1,44.7,43.4,46.2,44.8
13,전라북도 (4500000000),41.5,44.7,43.1,41.5,44.8,43.2,41.6,44.9,43.2,...,46.0,44.5,47.7,46.1,44.5,47.7,46.1,44.6,47.8,46.2
14,전라남도 (4600000000),42.6,46.4,44.5,42.7,46.5,44.6,42.7,46.6,44.7,...,47.3,45.5,49.2,47.3,45.5,49.2,47.4,45.6,49.3,47.4
15,경상북도 (4700000000),42.1,45.6,43.8,42.1,45.7,43.9,42.2,45.8,44.0,...,46.7,45.0,48.6,46.8,45.1,48.6,46.8,45.1,48.7,46.9
16,경상남도 (4800000000),39.9,42.9,41.4,40.0,43.0,41.5,40.0,43.1,41.5,...,44.4,42.9,45.9,44.4,43.0,46.0,44.5,43.1,46.0,44.5
17,제주특별자치도 (5000000000),39.2,41.9,40.6,39.3,41.9,40.6,39.3,42.0,40.6,...,42.7,41.6,44.0,42.8,41.6,44.0,42.8,41.7,44.1,42.9

In [82]:
for i in range(2017,2022):
    i = str(i)
    for j in range(1,10):
        j=str(j)
        age2 = age2.drop([i+'년0'+j+'월_남자 평균연령', i+'년0'+j+'월_여자 평균연령'],axis=1)

    for k in range(10,13):
        k=str(k)
        age2 = age2.drop([i+'년'+k+'월_남자 평균연령', i+'년'+k+'월_여자 평균연령'],axis=1)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년03월_평균연령,2021년04월_평균연령,2021년05월_평균연령,2021년06월_평균연령,2021년07월_평균연령,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.3,43.4,43.4,43.4,43.5,43.5,43.6,43.6,43.7,43.7
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.2,43.3,43.3,43.3,43.4,43.4,43.4,43.5,43.5,43.6
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.2,45.2,45.3,45.3,45.3,45.4,45.4,45.5,45.5,45.6
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.7,43.7,43.8,43.8,43.8,43.9,43.9,44.0,44.0,44.1
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.5,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.8
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.5,41.6,41.6,41.6,41.7,41.7,41.7,41.8,41.8,41.9
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.1,42.1,42.1,42.2,42.2,42.3,42.3,42.3,42.4,42.4
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,41.8,41.8,41.9,41.9,42.0,42.1,42.1,42.2,42.2,42.3
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.4,37.5,37.5,37.5,37.6,37.6,37.7,37.7,37.7,37.7
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.5,41.5,41.6,41.6,41.7,41.7,41.8,41.8,41.8,41.9
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.1,46.1,46.1,46.2,46.2,46.3,46.3,46.4,46.4,46.4
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.3,44.3,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7,44.7,44.8
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,45.8,45.8,45.8,45.9,45.9,46.0,46.0,46.1,46.1,46.2
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.0,47.0,47.1,47.1,47.2,47.2,47.3,47.3,47.4,47.4
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.5,46.5,46.6,46.6,46.6,46.7,46.7,46.8,46.8,46.9
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.1,44.1,44.2,44.2,44.2,44.3,44.4,44.4,44.5,44.5
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.5,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.9

In [91]:
age2.loc[:, '2017년_평균연령'] = round(age2.loc[:,'2017년01월_평균연령':'2017년12월_평균연령'].sum(axis=1)/12,2)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년04월_평균연령,2021년05월_평균연령,2021년06월_평균연령,2021년07월_평균연령,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령,2017년_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.4,43.4,43.4,43.5,43.5,43.6,43.6,43.7,43.7,41.29
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.3,43.3,43.3,43.4,43.4,43.4,43.5,43.5,43.6,41.42
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.2,45.3,45.3,45.3,45.4,45.4,45.5,45.5,45.6,43.08
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.7,43.8,43.8,43.8,43.9,43.9,44.0,44.0,44.1,41.42
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.8,40.22
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.6,41.6,41.6,41.7,41.7,41.7,41.8,41.8,41.9,39.37
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.1,42.1,42.2,42.2,42.3,42.3,42.3,42.4,42.4,39.78
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,41.8,41.9,41.9,42.0,42.1,42.1,42.2,42.2,42.3,39.26
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.5,37.5,37.5,37.6,37.6,37.7,37.7,37.7,37.7,36.72
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.5,41.6,41.6,41.7,41.7,41.8,41.8,41.8,41.9,39.56
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.1,46.1,46.2,46.2,46.3,46.3,46.4,46.4,46.4,43.82
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.3,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7,42.14
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.4,44.4,44.5,44.5,44.6,44.6,44.7,44.7,44.8,42.32
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,45.8,45.8,45.9,45.9,46.0,46.0,46.1,46.1,46.2,43.38
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.0,47.1,47.1,47.2,47.2,47.3,47.3,47.4,47.4,44.79
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.5,46.6,46.6,46.6,46.7,46.7,46.8,46.8,46.9,44.11
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.1,44.2,44.2,44.2,44.3,44.4,44.4,44.5,44.5,41.67
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.9,40.74

In [72]:
#for i in range(2017, 2022):
 #   i = str(i)
  #  age2.loc[:, ''] = dayCrime2.loc[:,i+'년 ':'2021'].sum(axis=1)
    
for i in range(2017,2022):
    i = str(i)
    #m = ['01','02','03','04','05','06','07','08','09','10','11','12']
    #for j in m:
     #   j=str(j)
    age2.loc[:, i+'년_평균연령'] = age2.loc[:,(i+'년01월_평균연령'):(i+'년12월_평균연령')].sum(axis=1)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.5,43.6,43.6,43.7,43.7,495.5,501.9,508.5,515.3,521.7
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.4,43.4,43.5,43.5,43.6,497.1,503.3,509.3,515.2,520.4
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.4,45.4,45.5,45.5,45.6,516.9,524.0,531.0,537.9,544.0
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.9,43.9,44.0,44.0,44.1,497.1,503.6,511.1,518.6,525.8
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.7,42.7,42.8,42.8,42.8,482.7,489.6,496.7,504.2,511.4
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.7,41.7,41.8,41.8,41.9,472.4,479.1,486.1,493.2,499.8
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.3,42.3,42.3,42.4,42.4,477.3,484.8,492.1,499.5,506.4
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,42.1,42.1,42.2,42.2,42.3,471.1,478.8,487.0,495.1,503.7
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.6,37.7,37.7,37.7,37.7,440.7,439.5,441.7,446.0,450.7
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.7,41.8,41.8,41.8,41.9,474.7,480.8,487.3,493.7,499.8
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.3,46.3,46.4,46.4,46.4,525.8,533.2,540.5,547.9,554.5
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.5,44.5,44.6,44.6,44.7,505.7,512.1,518.9,526.0,533.1
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.6,44.6,44.7,44.7,44.8,507.8,513.5,520.0,527.2,534.2
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,46.0,46.0,46.1,46.1,46.2,520.5,528.0,535.7,543.6,550.9
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.2,47.3,47.3,47.4,47.4,537.5,544.1,551.2,558.5,565.8
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.7,46.7,46.8,46.8,46.9,529.3,536.3,543.8,551.8,559.5
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.3,44.4,44.4,44.5,44.5,500.0,506.9,514.4,522.6,530.8
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.7,42.7,42.8,42.8,42.9,488.9,493.5,499.5,505.9,511.6

In [58]:
age2.iloc[1]

행정구역             서울특별시  (1100000000)
2017년01월_평균연령                   41.2
2017년02월_평균연령                   41.3
2017년03월_평균연령                   41.3
2017년04월_평균연령                   41.3
                        ...
2021년08월_평균연령                   43.4
2021년09월_평균연령                   43.4
2021년10월_평균연령                   43.5
2021년11월_평균연령                   43.5
2021년12월_평균연령                   43.6
Name: 1, Length: 61, dtype: object

In [87]:
age3=age2.sum(['2017년01월_평균연령','2017년03월_평균연령],axis=1)
age3

SyntaxError: unterminated string literal (detected at line 1) (3893613365.py, line 1)

In [94]:
# 행 이름 변경
age2 = age2.rename(index={'서울특별시 (1100000000)':'서울'})
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년04월_평균연령,2021년05월_평균연령,2021년06월_평균연령,2021년07월_평균연령,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령,2017년_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.4,43.4,43.4,43.5,43.5,43.6,43.6,43.7,43.7,41.29
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.3,43.3,43.3,43.4,43.4,43.4,43.5,43.5,43.6,41.42
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.2,45.3,45.3,45.3,45.4,45.4,45.5,45.5,45.6,43.08
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.7,43.8,43.8,43.8,43.9,43.9,44.0,44.0,44.1,41.42
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.8,40.22
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.6,41.6,41.6,41.7,41.7,41.7,41.8,41.8,41.9,39.37
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.1,42.1,42.2,42.2,42.3,42.3,42.3,42.4,42.4,39.78
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,41.8,41.9,41.9,42.0,42.1,42.1,42.2,42.2,42.3,39.26
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.5,37.5,37.5,37.6,37.6,37.7,37.7,37.7,37.7,36.72
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.5,41.6,41.6,41.7,41.7,41.8,41.8,41.8,41.9,39.56
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.1,46.1,46.2,46.2,46.3,46.3,46.4,46.4,46.4,43.82
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.3,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7,42.14
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.4,44.4,44.5,44.5,44.6,44.6,44.7,44.7,44.8,42.32
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,45.8,45.8,45.9,45.9,46.0,46.0,46.1,46.1,46.2,43.38
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.0,47.1,47.1,47.2,47.2,47.3,47.3,47.4,47.4,44.79
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.5,46.6,46.6,46.6,46.7,46.7,46.8,46.8,46.9,44.11
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.1,44.2,44.2,44.2,44.3,44.4,44.4,44.5,44.5,41.67
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.9,40.74

In [95]:
# 월별로 나누어져 있는 데이터를 연도별로 합치기
    
for i in range(2017,2022):
    i = str(i)
    age2.loc[:, i+'년_평균연령'] = round(age2.loc[:,(i+'년01월_평균연령'):(i+'년12월_평균연령')].sum(axis=1)/12,2)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.5,43.6,43.6,43.7,43.7,41.29,41.82,42.38,42.94,43.48
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.4,43.4,43.5,43.5,43.6,41.42,41.94,42.44,42.93,43.37
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.4,45.4,45.5,45.5,45.6,43.08,43.67,44.25,44.82,45.33
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.9,43.9,44.0,44.0,44.1,41.42,41.97,42.59,43.22,43.82
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.7,42.7,42.8,42.8,42.8,40.22,40.80,41.39,42.02,42.62
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.7,41.7,41.8,41.8,41.9,39.37,39.93,40.51,41.10,41.65
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.3,42.3,42.3,42.4,42.4,39.78,40.40,41.01,41.62,42.20
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,42.1,42.1,42.2,42.2,42.3,39.26,39.90,40.58,41.26,41.98
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.6,37.7,37.7,37.7,37.7,36.72,36.63,36.81,37.17,37.56
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.7,41.8,41.8,41.8,41.9,39.56,40.07,40.61,41.14,41.65
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.3,46.3,46.4,46.4,46.4,43.82,44.43,45.04,45.66,46.21
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.5,44.5,44.6,44.6,44.7,42.14,42.68,43.24,43.83,44.42
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.6,44.6,44.7,44.7,44.8,42.32,42.79,43.33,43.93,44.52
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,46.0,46.0,46.1,46.1,46.2,43.38,44.00,44.64,45.30,45.91
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.2,47.3,47.3,47.4,47.4,44.79,45.34,45.93,46.54,47.15
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.7,46.7,46.8,46.8,46.9,44.11,44.69,45.32,45.98,46.62
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.3,44.4,44.4,44.5,44.5,41.67,42.24,42.87,43.55,44.23
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.7,42.7,42.8,42.8,42.9,40.74,41.12,41.62,42.16,42.63

In [96]:
# 불필요한 열 삭제
for i in range(2017,2022):
    i = str(i)
    m = ['01','02','03','04','05','06','07','08','09','10','11','12']
    for j in m:
        age2 = age2.drop([i+'년'+j+'월_평균연령'],axis=1)
age2

,행정구역,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
0,전국 (1000000000),41.29,41.82,42.38,42.94,43.48
1,서울특별시 (1100000000),41.42,41.94,42.44,42.93,43.37
2,부산광역시 (2600000000),43.08,43.67,44.25,44.82,45.33
3,대구광역시 (2700000000),41.42,41.97,42.59,43.22,43.82
4,인천광역시 (2800000000),40.22,40.80,41.39,42.02,42.62
5,광주광역시 (2900000000),39.37,39.93,40.51,41.10,41.65
6,대전광역시 (3000000000),39.78,40.40,41.01,41.62,42.20
7,울산광역시 (3100000000),39.26,39.90,40.58,41.26,41.98
8,세종특별자치시 (3600000000),36.72,36.63,36.81,37.17,37.56
9,경기도 (4100000000),39.56,40.07,40.61,41.14,41.65
10,강원도 (4200000000),43.82,44.43,45.04,45.66,46.21
11,충청북도 (4300000000),42.14,42.68,43.24,43.83,44.42
12,충청남도 (4400000000),42.32,42.79,43.33,43.93,44.52
13,전라북도 (4500000000),43.38,44.00,44.64,45.30,45.91
14,전라남도 (4600000000),44.79,45.34,45.93,46.54,47.15
15,경상북도 (4700000000),44.11,44.69,45.32,45.98,46.62
16,경상남도 (4800000000),41.67,42.24,42.87,43.55,44.23
17,제주특별자치도 (5000000000),40.74,41.12,41.62,42.16,42.63

In [97]:
age2.columns = ['지역', '2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']
age2 = age2.set_index(["지역"])
age2

,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,
전국 (1000000000),41.29,41.82,42.38,42.94,43.48
서울특별시 (1100000000),41.42,41.94,42.44,42.93,43.37
부산광역시 (2600000000),43.08,43.67,44.25,44.82,45.33
대구광역시 (2700000000),41.42,41.97,42.59,43.22,43.82
인천광역시 (2800000000),40.22,40.80,41.39,42.02,42.62
광주광역시 (2900000000),39.37,39.93,40.51,41.10,41.65
대전광역시 (3000000000),39.78,40.40,41.01,41.62,42.20
울산광역시 (3100000000),39.26,39.90,40.58,41.26,41.98
세종특별자치시 (3600000000),36.72,36.63,36.81,37.17,37.56
경기도 (4100000000),39.56,40.07,40.61,41.14,41.65
강원도 (4200000000),43.82,44.43,45.04,45.66,46.21
충청북도 (4300000000),42.14,42.68,43.24,43.83,44.42
충청남도 (4400000000),42.32,42.79,43.33,43.93,44.52
전라북도 (4500000000),43.38,44.00,44.64,45.30,45.91
전라남도 (4600000000),44.79,45.34,45.93,46.54,47.15
경상북도 (4700000000),44.11,44.69,45.32,45.98,46.62
경상남도 (4800000000),41.67,42.24,42.87,43.55,44.23
제주특별자치도 (5000000000),40.74,41.12,41.62,42.16,42.63

In [100]:
# 행 이름 변경
age2 = age2.rename(index={'서울특별시  (1100000000)':'서울'})
age2

,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,
전국 (1000000000),41.29,41.82,42.38,42.94,43.48
서울,41.42,41.94,42.44,42.93,43.37
부산광역시 (2600000000),43.08,43.67,44.25,44.82,45.33
대구광역시 (2700000000),41.42,41.97,42.59,43.22,43.82
인천광역시 (2800000000),40.22,40.80,41.39,42.02,42.62
광주광역시 (2900000000),39.37,39.93,40.51,41.10,41.65
대전광역시 (3000000000),39.78,40.40,41.01,41.62,42.20
울산광역시 (3100000000),39.26,39.90,40.58,41.26,41.98
세종특별자치시 (3600000000),36.72,36.63,36.81,37.17,37.56
경기도 (4100000000),39.56,40.07,40.61,41.14,41.65
강원도 (4200000000),43.82,44.43,45.04,45.66,46.21
충청북도 (4300000000),42.14,42.68,43.24,43.83,44.42
충청남도 (4400000000),42.32,42.79,43.33,43.93,44.52
전라북도 (4500000000),43.38,44.00,44.64,45.30,45.91
전라남도 (4600000000),44.79,45.34,45.93,46.54,47.15
경상북도 (4700000000),44.11,44.69,45.32,45.98,46.62
경상남도 (4800000000),41.67,42.24,42.87,43.55,44.23
제주특별자치도 (5000000000),40.74,41.12,41.62,42.16,42.63

In [99]:
age2.iloc[1]

2017년_평균연령    41.42
2018년_평균연령    41.94
2019년_평균연령    42.44
2020년_평균연령    42.93
2021년_평균연령    43.37
Name: 서울특별시  (1100000000), dtype: float64

In [1]:
import pandas as pd
police = pd.read_csv('./2020_전국 경찰서 현황.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
police2 = police.copy()
police2.columns = ['지역', '경찰서', '지구대', '파출소']
police2 = police2.set_index(["지역"])
police2

      경찰서  지구대  파출소
지역
서울     31   98  144
부산     15   49   45
대구     10   31   31
인천     10   39   36
광주      5   19   21
대전      6   21   10
울산      5   10   20
세종      1    4    5
경기남부   31   91  157
경기북부   13   24   73
강원     17   31   74
충북     12   28   51
충남     15   37   78
전북     15   28  136
전남     21   15  191
경북     24   24  210
경남     23   39  137
제주      3    7   19

In [5]:
police2.iloc[8]

경찰서     31
지구대     91
파출소    157
Name: 경기남부, dtype: int64

In [11]:
police2.loc['경기'] = police2.loc['경기남부':'경기북부'].sum()

# 행 순서 변경
police2 = police2.reindex(index=[''])
police2

      경찰서  지구대  파출소
지역
서울     31   98  144
부산     15   49   45
대구     10   31   31
인천     10   39   36
광주      5   19   21
대전      6   21   10
울산      5   10   20
세종      1    4    5
경기남부   31   91  157
경기북부   13   24   73
강원     17   31   74
충북     12   28   51
충남     15   37   78
전북     15   28  136
전남     21   15  191
경북     24   24  210
경남     23   39  137
제주      3    7   19
경기     44  115  230

In [27]:
police = pd.read_csv('./1720전국 경찰서 현황.csv', encoding='euc_kr')
police2 = police
police2

,Unnamed: 0,17년도 경찰서,17년도 지구대,17년도 파출소,18년도 경찰서,18년도 지구대,18년도 파출소,19년도 경찰서,19년도 지구대,19년도 파출소,20년도 경찰서,20년도 지구대,20년도 파출소,21년도 경찰서,21년도 지구대,21년도 파출소
0,서울,31,88.0,151.0,31,88.0,152.0,31,96,145,31,96,145,31,98,144
1,부산,15,50.0,42.0,15,50.0,42.0,15,49,45,15,49,45,15,49,45
2,대구,10,30.0,30.0,10,30.0,31.0,10,30,32,10,31,31,10,31,31
3,인천,9,37.0,38.0,9,37.0,38.0,10,37,38,10,39,36,10,39,36
4,광주,5,19.0,21.0,5,19.0,21.0,5,19,21,5,19,21,5,19,21
5,대전,6,17.0,10.0,6,17.0,10.0,6,19,9,6,20,10,6,21,10
6,울산,4,10.0,20.0,4,10.0,20.0,4,10,20,4,10,20,5,10,20
7,세종,1,NaN,NaN,1,NaN,NaN,1,4,5,1,4,5,1,4,5
8,경기남부,30,67.0,169.0,30,67.0,171.0,31,91,152,31,91,154,31,91,157
9,경기북부,12,19.0,74.0,12,19.0,74.0,12,23,71,12,23,71,13,24,73
10,강원,17,30.0,75.0,17,30.0,75.0,17,31,74,17,31,74,17,31,74
11,충북,12,27.0,51.0,12,27.0,51.0,12,27,52,12,27,52,12,28,51
12,충남,15,32.0,89.0,16,32.0,89.0,16,38,85,15,34,80,15,37,78
13,전북,15,22.0,141.0,15,22.0,141.0,15,26,138,15,26,138,15,28,136
14,전남,21,15.0,190.0,21,15.0,190.0,21,15,191,21,15,191,21,15,191
15,경북,24,21.0,210.0,24,21.0,211.0,24,24,209,24,24,210,24,24,210
16,경남,23,26.0,144.0,23,26.0,144.0,23,38,134,23,39,135,23,39,137
17,제주,3,6.0,18.0,3,6.0,19.0,3,7,19,3,7,19,3,7,19

In [29]:
police2['17년도 지구대'] = police['17년도 지구대'].fillna(4)
police2['17년도 파출소'] = police['17년도 파출소'].fillna(5)
police2['18년도 지구대'] = police['18년도 지구대'].fillna(4)
police2['18년도 파출소'] = police['18년도 파출소'].fillna(5)

police2

,Unnamed: 0,17년도 경찰서,17년도 지구대,17년도 파출소,18년도 경찰서,18년도 지구대,18년도 파출소,19년도 경찰서,19년도 지구대,19년도 파출소,20년도 경찰서,20년도 지구대,20년도 파출소,21년도 경찰서,21년도 지구대,21년도 파출소
0,서울,31,88.0,151.0,31,88.0,152.0,31,96,145,31,96,145,31,98,144
1,부산,15,50.0,42.0,15,50.0,42.0,15,49,45,15,49,45,15,49,45
2,대구,10,30.0,30.0,10,30.0,31.0,10,30,32,10,31,31,10,31,31
3,인천,9,37.0,38.0,9,37.0,38.0,10,37,38,10,39,36,10,39,36
4,광주,5,19.0,21.0,5,19.0,21.0,5,19,21,5,19,21,5,19,21
5,대전,6,17.0,10.0,6,17.0,10.0,6,19,9,6,20,10,6,21,10
6,울산,4,10.0,20.0,4,10.0,20.0,4,10,20,4,10,20,5,10,20
7,세종,1,4.0,5.0,1,4.0,5.0,1,4,5,1,4,5,1,4,5
8,경기남부,30,67.0,169.0,30,67.0,171.0,31,91,152,31,91,154,31,91,157
9,경기북부,12,19.0,74.0,12,19.0,74.0,12,23,71,12,23,71,13,24,73
10,강원,17,30.0,75.0,17,30.0,75.0,17,31,74,17,31,74,17,31,74
11,충북,12,27.0,51.0,12,27.0,51.0,12,27,52,12,27,52,12,28,51
12,충남,15,32.0,89.0,16,32.0,89.0,16,38,85,15,34,80,15,37,78
13,전북,15,22.0,141.0,15,22.0,141.0,15,26,138,15,26,138,15,28,136
14,전남,21,15.0,190.0,21,15.0,190.0,21,15,191,21,15,191,21,15,191
15,경북,24,21.0,210.0,24,21.0,211.0,24,24,209,24,24,210,24,24,210
16,경남,23,26.0,144.0,23,26.0,144.0,23,38,134,23,39,135,23,39,137
17,제주,3,6.0,18.0,3,6.0,19.0,3,7,19,3,7,19,3,7,19

In [18]:
police2.iloc[2]

Unnamed: 0      대구
17년도 경찰서        10
17년도 지구대      30.0
17년도 파출소      30.0
18년도 경찰서        10
18년도 지구대      30.0
18년도 파출소      31.0
19년도 경찰서        10
19년도 지구대        30
19년도 파출소        32
20년도 경찰서        10
20년도 지구대        31
20년도 파출소        31
21년도 경찰서        10
21년도 지구대        31
21년도 파출소        31
Name: 2, dtype: object

In [22]:
for i in range(17,22):
    i = str(i)
    police2.loc[:, i+'년도 경찰서,지구대,파출소'] = police2.loc[:,i+'년도 경찰서':i+'년도 파출소'].sum(axis=1)
police2

,Unnamed: 0,17년도 경찰서,17년도 지구대,17년도 파출소,18년도 경찰서,18년도 지구대,18년도 파출소,19년도 경찰서,19년도 지구대,19년도 파출소,...,20년도 지구대,20년도 파출소,21년도 경찰서,21년도 지구대,21년도 파출소,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
0,서울,31,88.0,151.0,31,88.0,152.0,31,96,145,...,96,145,31,98,144,270.0,271.0,272,272,273
1,부산,15,50.0,42.0,15,50.0,42.0,15,49,45,...,49,45,15,49,45,107.0,107.0,109,109,109
2,대구,10,30.0,30.0,10,30.0,31.0,10,30,32,...,31,31,10,31,31,70.0,71.0,72,72,72
3,인천,9,37.0,38.0,9,37.0,38.0,10,37,38,...,39,36,10,39,36,84.0,84.0,85,85,85
4,광주,5,19.0,21.0,5,19.0,21.0,5,19,21,...,19,21,5,19,21,45.0,45.0,45,45,45
5,대전,6,17.0,10.0,6,17.0,10.0,6,19,9,...,20,10,6,21,10,33.0,33.0,34,36,37
6,울산,4,10.0,20.0,4,10.0,20.0,4,10,20,...,10,20,5,10,20,34.0,34.0,34,34,35
7,세종,1,NaN,NaN,1,NaN,NaN,1,4,5,...,4,5,1,4,5,1.0,1.0,10,10,10
8,경기남부,30,67.0,169.0,30,67.0,171.0,31,91,152,...,91,154,31,91,157,266.0,268.0,274,276,279
9,경기북부,12,19.0,74.0,12,19.0,74.0,12,23,71,...,23,71,13,24,73,105.0,105.0,106,106,110
10,강원,17,30.0,75.0,17,30.0,75.0,17,31,74,...,31,74,17,31,74,122.0,122.0,122,122,122
11,충북,12,27.0,51.0,12,27.0,51.0,12,27,52,...,27,52,12,28,51,90.0,90.0,91,91,91
12,충남,15,32.0,89.0,16,32.0,89.0,16,38,85,...,34,80,15,37,78,136.0,137.0,139,129,130
13,전북,15,22.0,141.0,15,22.0,141.0,15,26,138,...,26,138,15,28,136,178.0,178.0,179,179,179
14,전남,21,15.0,190.0,21,15.0,190.0,21,15,191,...,15,191,21,15,191,226.0,226.0,227,227,227
15,경북,24,21.0,210.0,24,21.0,211.0,24,24,209,...,24,210,24,24,210,255.0,256.0,257,258,258
16,경남,23,26.0,144.0,23,26.0,144.0,23,38,134,...,39,135,23,39,137,193.0,193.0,195,197,199
17,제주,3,6.0,18.0,3,6.0,19.0,3,7,19,...,7,19,3,7,19,27.0,28.0,29,29,29

In [ ]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['CCTV 설치/운영 사업체 수 (개)', 'CCTV 설치/운영 사업체 비율 (%)', 'CCTV 설치/운영 대수 (대)']
x = cctv2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
cctv_minmax = pd.DataFrame(x_scale, columns=col, index = cctv2.index)
cctv_minmax

In [ ]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime2.merge(police2[['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                                 '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']], on='지역')
crime_df

In [ ]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_minmax.merge(police_minmax[['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                                 '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']], on='지역')
crime_df_minmax