In [2]:
import pandas as pd
from sklearn import preprocessing

## 지역별 범죄 발생 건수

In [132]:
crime = pd.read_csv('./지역별 범죄 건수, 지역별 인구수.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
crime2 = crime.copy()
crime2.columns = ['지역', '2017', '2018', '2019', '2020', '2021']
crime2 = crime2.set_index(["지역"])
crime2

      2017    2018    2019    2020    2021
지역
서울  352471  341288  340504  318320  274830
부산  130148  126230  128725  127673  113558
대구   82281   79489   82905   79182   72339
인천  101526   94605  101289   96340   85432
광주   54627   51223   52827   49869   44610
대전   50357   48184   47929   46960   41921
울산   26558   25323   25814   24911   23463
세종    5023    5331    6300    6651    6147
경기  459893  429953  433498  429487  388004
강원   58900   52495   53289   51544   45398
충북   56944   53659   53801   51645   47020
충남   73772   75405   73817   71847   63290
전북   57238   56353   58012   56210   52587
전남   64618   65932   68566   67448   60205
경북   89049   85371   88098   83790   75300
경남  127294  117243  123992  123406  111102
제주   34177   30106   28318   29296   26499

In [133]:
# 결측치 확인
pd.isna(crime2)

     2017   2018   2019   2020   2021
지역
서울  False  False  False  False  False
부산  False  False  False  False  False
대구  False  False  False  False  False
인천  False  False  False  False  False
광주  False  False  False  False  False
대전  False  False  False  False  False
울산  False  False  False  False  False
세종  False  False  False  False  False
경기  False  False  False  False  False
강원  False  False  False  False  False
충북  False  False  False  False  False
충남  False  False  False  False  False
전북  False  False  False  False  False
전남  False  False  False  False  False
경북  False  False  False  False  False
경남  False  False  False  False  False
제주  False  False  False  False  False

In [134]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['2017', '2018', '2019', '2020', '2021']
x = crime2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
crime_minmax = pd.DataFrame(x_scale, columns=col, index = crime2.index)
crime_minmax

        2017      2018      2019      2020      2021
지역
서울  0.763840  0.791191  0.782316  0.737092  0.703622
부산  0.275079  0.284721  0.286577  0.286215  0.281286
대구  0.169846  0.174645  0.179320  0.171535  0.173342
인천  0.212155  0.210243  0.222354  0.212113  0.207630
광주  0.109051  0.108077  0.108912  0.102210  0.100726
대전  0.099664  0.100920  0.097447  0.095330  0.093684
울산  0.047343  0.047082  0.045679  0.043185  0.045347
세종  0.000000  0.000000  0.000000  0.000000  0.000000
경기  1.000000  1.000000  1.000000  1.000000  1.000000
강원  0.118445  0.111073  0.109993  0.106171  0.102790
충북  0.114145  0.113814  0.111192  0.106410  0.107037
충남  0.151140  0.165027  0.158046  0.154187  0.149645
전북  0.114791  0.120159  0.121049  0.117206  0.121616
전남  0.131015  0.142718  0.145754  0.143784  0.141566
경북  0.184725  0.188497  0.191476  0.182432  0.181097
경남  0.268804  0.263557  0.275498  0.276124  0.274854
제주  0.064093  0.058346  0.051541  0.053555  0.053297

## 경찰서,파출소,지구대 현황

In [90]:
police = pd.read_csv('./1720전국 경찰서 현황.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
police2 = police.copy()
police2

,Unnamed: 0,17년도 경찰서,17년도 지구대,17년도 파출소,18년도 경찰서,18년도 지구대,18년도 파출소,19년도 경찰서,19년도 지구대,19년도 파출소,20년도 경찰서,20년도 지구대,20년도 파출소,21년도 경찰서,21년도 지구대,21년도 파출소
0,서울,31,88.0,151.0,31,88.0,152.0,31,96,145,31,96,145,31,98,144
1,부산,15,50.0,42.0,15,50.0,42.0,15,49,45,15,49,45,15,49,45
2,대구,10,30.0,30.0,10,30.0,31.0,10,30,32,10,31,31,10,31,31
3,인천,9,37.0,38.0,9,37.0,38.0,10,37,38,10,39,36,10,39,36
4,광주,5,19.0,21.0,5,19.0,21.0,5,19,21,5,19,21,5,19,21
5,대전,6,17.0,10.0,6,17.0,10.0,6,19,9,6,20,10,6,21,10
6,울산,4,10.0,20.0,4,10.0,20.0,4,10,20,4,10,20,5,10,20
7,세종,1,NaN,NaN,1,NaN,NaN,1,4,5,1,4,5,1,4,5
8,경기남부,30,67.0,169.0,30,67.0,171.0,31,91,152,31,91,154,31,91,157
9,경기북부,12,19.0,74.0,12,19.0,74.0,12,23,71,12,23,71,13,24,73
10,강원,17,30.0,75.0,17,30.0,75.0,17,31,74,17,31,74,17,31,74
11,충북,12,27.0,51.0,12,27.0,51.0,12,27,52,12,27,52,12,28,51
12,충남,15,32.0,89.0,16,32.0,89.0,16,38,85,15,34,80,15,37,78
13,전북,15,22.0,141.0,15,22.0,141.0,15,26,138,15,26,138,15,28,136
14,전남,21,15.0,190.0,21,15.0,190.0,21,15,191,21,15,191,21,15,191
15,경북,24,21.0,210.0,24,21.0,211.0,24,24,209,24,24,210,24,24,210
16,경남,23,26.0,144.0,23,26.0,144.0,23,38,134,23,39,135,23,39,137
17,제주,3,6.0,18.0,3,6.0,19.0,3,7,19,3,7,19,3,7,19

In [91]:
# 결측치 갯수 세기
police2.isnull().sum(axis=1) # 행으로 계산

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     4
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [92]:
# '세종'의 결측치를 2019년도 정보로 대체
police2['17년도 지구대'] = police['17년도 지구대'].fillna(4)
police2['17년도 파출소'] = police['17년도 파출소'].fillna(5)
police2['18년도 지구대'] = police['18년도 지구대'].fillna(4)
police2['18년도 파출소'] = police['18년도 파출소'].fillna(5)

police2

,Unnamed: 0,17년도 경찰서,17년도 지구대,17년도 파출소,18년도 경찰서,18년도 지구대,18년도 파출소,19년도 경찰서,19년도 지구대,19년도 파출소,20년도 경찰서,20년도 지구대,20년도 파출소,21년도 경찰서,21년도 지구대,21년도 파출소
0,서울,31,88.0,151.0,31,88.0,152.0,31,96,145,31,96,145,31,98,144
1,부산,15,50.0,42.0,15,50.0,42.0,15,49,45,15,49,45,15,49,45
2,대구,10,30.0,30.0,10,30.0,31.0,10,30,32,10,31,31,10,31,31
3,인천,9,37.0,38.0,9,37.0,38.0,10,37,38,10,39,36,10,39,36
4,광주,5,19.0,21.0,5,19.0,21.0,5,19,21,5,19,21,5,19,21
5,대전,6,17.0,10.0,6,17.0,10.0,6,19,9,6,20,10,6,21,10
6,울산,4,10.0,20.0,4,10.0,20.0,4,10,20,4,10,20,5,10,20
7,세종,1,4.0,5.0,1,4.0,5.0,1,4,5,1,4,5,1,4,5
8,경기남부,30,67.0,169.0,30,67.0,171.0,31,91,152,31,91,154,31,91,157
9,경기북부,12,19.0,74.0,12,19.0,74.0,12,23,71,12,23,71,13,24,73
10,강원,17,30.0,75.0,17,30.0,75.0,17,31,74,17,31,74,17,31,74
11,충북,12,27.0,51.0,12,27.0,51.0,12,27,52,12,27,52,12,28,51
12,충남,15,32.0,89.0,16,32.0,89.0,16,38,85,15,34,80,15,37,78
13,전북,15,22.0,141.0,15,22.0,141.0,15,26,138,15,26,138,15,28,136
14,전남,21,15.0,190.0,21,15.0,190.0,21,15,191,21,15,191,21,15,191
15,경북,24,21.0,210.0,24,21.0,211.0,24,24,209,24,24,210,24,24,210
16,경남,23,26.0,144.0,23,26.0,144.0,23,38,134,23,39,135,23,39,137
17,제주,3,6.0,18.0,3,6.0,19.0,3,7,19,3,7,19,3,7,19

In [93]:
# 결측치 갯수 재확인
police2.isnull().sum(axis=1) # 행으로 계산

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [94]:
# 년도별로 열 합치기
for i in range(17,22):
    i = str(i)
    police2.loc[:, i+'년도 경찰서,지구대,파출소'] = police2.loc[:,i+'년도 경찰서':i+'년도 파출소'].sum(axis=1)

# 불필요한 열 제거
for i in range(17,22):
    i = str(i)
    police2 = police2.drop([i+'년도 경찰서',i+'년도 지구대',i+'년도 파출소'],axis=1)

police2.columns = ['지역', '17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                  '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']
police2 = police2.set_index(["지역"])
police2

,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,
서울,270.0,271.0,272,272,273
부산,107.0,107.0,109,109,109
대구,70.0,71.0,72,72,72
인천,84.0,84.0,85,85,85
광주,45.0,45.0,45,45,45
대전,33.0,33.0,34,36,37
울산,34.0,34.0,34,34,35
세종,10.0,10.0,10,10,10
경기남부,266.0,268.0,274,276,279
경기북부,105.0,105.0,106,106,110
강원,122.0,122.0,122,122,122
충북,90.0,90.0,91,91,91
충남,136.0,137.0,139,129,130
전북,178.0,178.0,179,179,179
전남,226.0,226.0,227,227,227
경북,255.0,256.0,257,258,258
경남,193.0,193.0,195,197,199
제주,27.0,28.0,29,29,29

In [95]:
police2.loc['경기'] = police2.loc['경기남부':'경기북부'].sum()

# 행 순서 변경
police2 = police2.reindex(index=['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원',
                        '충북','충남','전북','전남','경북','경남','제주'])
police2

,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,
서울,270.0,271.0,272.0,272.0,273.0
부산,107.0,107.0,109.0,109.0,109.0
대구,70.0,71.0,72.0,72.0,72.0
인천,84.0,84.0,85.0,85.0,85.0
광주,45.0,45.0,45.0,45.0,45.0
대전,33.0,33.0,34.0,36.0,37.0
울산,34.0,34.0,34.0,34.0,35.0
세종,10.0,10.0,10.0,10.0,10.0
경기,371.0,373.0,380.0,382.0,389.0
강원,122.0,122.0,122.0,122.0,122.0
충북,90.0,90.0,91.0,91.0,91.0
충남,136.0,137.0,139.0,129.0,130.0
전북,178.0,178.0,179.0,179.0,179.0
전남,226.0,226.0,227.0,227.0,227.0
경북,255.0,256.0,257.0,258.0,258.0
경남,193.0,193.0,195.0,197.0,199.0
제주,27.0,28.0,29.0,29.0,29.0

In [85]:
'''
# 합계 행 추가
police3 = police2
police3.loc['합계',:] = police3.loc['서울':'제주'].sum(axis=0)
police3
'''

,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,
서울,270.0,271.0,272.0,272.0,273.0
부산,107.0,107.0,109.0,109.0,109.0
대구,70.0,71.0,72.0,72.0,72.0
인천,84.0,84.0,85.0,85.0,85.0
광주,45.0,45.0,45.0,45.0,45.0
대전,33.0,33.0,34.0,36.0,37.0
울산,34.0,34.0,34.0,34.0,35.0
세종,10.0,10.0,10.0,10.0,10.0
경기,371.0,373.0,380.0,382.0,389.0
강원,122.0,122.0,122.0,122.0,122.0
충북,90.0,90.0,91.0,91.0,91.0
충남,136.0,137.0,139.0,129.0,130.0
전북,178.0,178.0,179.0,179.0,179.0
전남,226.0,226.0,227.0,227.0,227.0
경북,255.0,256.0,257.0,258.0,258.0
경남,193.0,193.0,195.0,197.0,199.0
제주,27.0,28.0,29.0,29.0,29.0
합계,2251.0,2258.0,2280.0,2277.0,2290.0

In [96]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
        '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']
x = police2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
police_minmax = pd.DataFrame(x_scale, columns=col, index = police2.index)
police_minmax

,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,
서울,0.720222,0.719008,0.708108,0.704301,0.693931
부산,0.268698,0.267218,0.267568,0.266129,0.261214
대구,0.166205,0.168044,0.167568,0.166667,0.163588
인천,0.204986,0.203857,0.202703,0.201613,0.197889
광주,0.096953,0.096419,0.094595,0.094086,0.092348
대전,0.063712,0.063361,0.064865,0.069892,0.071240
울산,0.066482,0.066116,0.064865,0.064516,0.065963
세종,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.310249,0.308540,0.302703,0.301075,0.295515
충북,0.221607,0.220386,0.218919,0.217742,0.213720
충남,0.349030,0.349862,0.348649,0.319892,0.316623
전북,0.465374,0.462810,0.456757,0.454301,0.445910
전남,0.598338,0.595041,0.586486,0.583333,0.572559
경북,0.678670,0.677686,0.667568,0.666667,0.654354
경남,0.506925,0.504132,0.500000,0.502688,0.498681
제주,0.047091,0.049587,0.051351,0.051075,0.050132

In [135]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime2.merge(police2[['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                                 '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']], on='지역')
crime_df

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,,,,,,
서울,352471,341288,340504,318320,274830,270.0,271.0,272.0,272.0,273.0
부산,130148,126230,128725,127673,113558,107.0,107.0,109.0,109.0,109.0
대구,82281,79489,82905,79182,72339,70.0,71.0,72.0,72.0,72.0
인천,101526,94605,101289,96340,85432,84.0,84.0,85.0,85.0,85.0
광주,54627,51223,52827,49869,44610,45.0,45.0,45.0,45.0,45.0
대전,50357,48184,47929,46960,41921,33.0,33.0,34.0,36.0,37.0
울산,26558,25323,25814,24911,23463,34.0,34.0,34.0,34.0,35.0
세종,5023,5331,6300,6651,6147,10.0,10.0,10.0,10.0,10.0
경기,459893,429953,433498,429487,388004,371.0,373.0,380.0,382.0,389.0
강원,58900,52495,53289,51544,45398,122.0,122.0,122.0,122.0,122.0
충북,56944,53659,53801,51645,47020,90.0,90.0,91.0,91.0,91.0
충남,73772,75405,73817,71847,63290,136.0,137.0,139.0,129.0,130.0
전북,57238,56353,58012,56210,52587,178.0,178.0,179.0,179.0,179.0
전남,64618,65932,68566,67448,60205,226.0,226.0,227.0,227.0,227.0
경북,89049,85371,88098,83790,75300,255.0,256.0,257.0,258.0,258.0
경남,127294,117243,123992,123406,111102,193.0,193.0,195.0,197.0,199.0
제주,34177,30106,28318,29296,26499,27.0,28.0,29.0,29.0,29.0

In [136]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_minmax.merge(police_minmax[['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                                 '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.720222,0.719008,0.708108,0.704301,0.693931
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.268698,0.267218,0.267568,0.266129,0.261214
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.166205,0.168044,0.167568,0.166667,0.163588
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.204986,0.203857,0.202703,0.201613,0.197889
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.096953,0.096419,0.094595,0.094086,0.092348
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.063712,0.063361,0.064865,0.069892,0.071240
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.066482,0.066116,0.064865,0.064516,0.065963
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.310249,0.308540,0.302703,0.301075,0.295515
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.221607,0.220386,0.218919,0.217742,0.213720
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.349030,0.349862,0.348649,0.319892,0.316623
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.465374,0.462810,0.456757,0.454301,0.445910
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.598338,0.595041,0.586486,0.583333,0.572559
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.678670,0.677686,0.667568,0.666667,0.654354
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.506925,0.504132,0.500000,0.502688,0.498681
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.047091,0.049587,0.051351,0.051075,0.050132

## CCTV 설치 운영 현황

In [99]:
cctv = pd.read_csv('./CCTV_설치_운영_현황_20230913163452.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
cctv2 = cctv.copy()
cctv2

,구분(1),구분(2),전체 사업체 (개),CCTV 설치/운영 사업체 수 (개),CCTV 설치/운영 사업체 비율 (%),CCTV 미설치/미운영 사업체 수 (개),CCTV 미설치/미운영 사업체 비율 (%),CCTV 설치/운영 대수 (대)
0,전체,소계,3676875,1198587,32.6,2478288,67.4,8076415
1,지역별,서울,785093,226706,28.9,558387,71.1,1815847
2,지역별,부산,271983,58222,21.4,213761,78.6,242086
3,지역별,대구,195717,68775,35.1,126942,64.9,616636
4,지역별,인천,177990,70216,39.4,107774,60.6,334862
5,지역별,광주,108808,57166,52.5,51642,47.5,283180
6,지역별,대전,105676,37585,35.6,68091,64.4,222793
7,지역별,울산,76993,18103,23.5,58890,76.5,118350
8,지역별,세종,7468,1767,23.7,5701,76.3,174474
9,지역별,경기,773216,295143,38.2,478073,61.8,1937975
10,지역별,강원,129403,34022,26.3,95381,73.7,278993
11,지역별,충북,115611,42622,36.9,72989,63.1,244699
12,지역별,충남,145998,53927,36.9,92071,63.1,267057
13,지역별,전북,139656,41866,30.0,97790,70.0,213388
14,지역별,전남,136889,54640,39.9,82249,60.1,272790
15,지역별,경북,205734,58090,28.2,147644,71.8,350303
16,지역별,경남,248913,67339,27.1,181574,72.9,651360
17,지역별,제주,51727,12399,24.0,39328,76.0,51622
18,조직형태별,개인사업체,2986640,855335,28.6,2131305,71.4,3253983
19,조직형태별,회사법인,454080,209819,46.2,244261,53.8,1866514
20,조직형태별,회사이외 법인,67428,42810,63.5,24618,36.5,706809
21,조직형태별,비법인단체,129846,63017,48.5,66829,51.5,1515315
22,조직형태별,국가/지방자치단체,38881,27606,71.0,11275,29.0,733794

In [100]:
# 불필요한 columns 제거
cctv2 = cctv2.drop(['구분(1)','전체 사업체 (개)','CCTV 미설치/미운영 사업체 수 (개)', 'CCTV 미설치/미운영 사업체 비율 (%)'], axis=1)
# 불필요한 rows 제거
cctv2 = cctv2.drop([0, 18, 19, 20, 21, 22], axis=0)
cctv2

   구분(2)  CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
1     서울                226706                   28.9            1815847
2     부산                 58222                   21.4             242086
3     대구                 68775                   35.1             616636
4     인천                 70216                   39.4             334862
5     광주                 57166                   52.5             283180
6     대전                 37585                   35.6             222793
7     울산                 18103                   23.5             118350
8     세종                  1767                   23.7             174474
9     경기                295143                   38.2            1937975
10    강원                 34022                   26.3             278993
11    충북                 42622                   36.9             244699
12    충남                 53927                   36.9             267057
13    전북                 41866                   30.0             213388
14    전남                 54640                   39.9             272790
15    경북                 58090                   28.2             350303
16    경남                 67339                   27.1             651360
17    제주                 12399                   24.0              51622

In [101]:
cctv2.columns = ['지역', 'CCTV 설치/운영 사업체 수 (개)', 'CCTV 설치/운영 사업체 비율 (%)', 'CCTV 설치/운영 대수 (대)']
cctv2 = cctv2.set_index(["지역"])
cctv2

    CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
지역
서울                226706                   28.9            1815847
부산                 58222                   21.4             242086
대구                 68775                   35.1             616636
인천                 70216                   39.4             334862
광주                 57166                   52.5             283180
대전                 37585                   35.6             222793
울산                 18103                   23.5             118350
세종                  1767                   23.7             174474
경기                295143                   38.2            1937975
강원                 34022                   26.3             278993
충북                 42622                   36.9             244699
충남                 53927                   36.9             267057
전북                 41866                   30.0             213388
전남                 54640                   39.9             272790
경북                 58090                   28.2             350303
경남                 67339                   27.1             651360
제주                 12399                   24.0              51622

In [102]:
# 결측치 확인
pd.isna(cctv2)

    CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
지역
서울                 False                  False              False
부산                 False                  False              False
대구                 False                  False              False
인천                 False                  False              False
광주                 False                  False              False
대전                 False                  False              False
울산                 False                  False              False
세종                 False                  False              False
경기                 False                  False              False
강원                 False                  False              False
충북                 False                  False              False
충남                 False                  False              False
전북                 False                  False              False
전남                 False                  False              False
경북                 False                  False              False
경남                 False                  False              False
제주                 False                  False              False

In [103]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['CCTV 설치/운영 사업체 수 (개)', 'CCTV 설치/운영 사업체 비율 (%)', 'CCTV 설치/운영 대수 (대)']
x = cctv2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
cctv_minmax = pd.DataFrame(x_scale, columns=col, index = cctv2.index)
cctv_minmax

    CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
지역
서울              0.766726               0.241158           0.935257
부산              0.192432               0.000000           0.100969
대구              0.228403               0.440514           0.299527
인천              0.233315               0.578778           0.150152
광주              0.188833               1.000000           0.122754
대전              0.122089               0.456592           0.090742
울산              0.055683               0.067524           0.035374
세종              0.000000               0.073955           0.065127
경기              1.000000               0.540193           1.000000
강원              0.109944               0.157556           0.120535
충북              0.139258               0.498392           0.102355
충남              0.177792               0.498392           0.114207
전북              0.136681               0.276527           0.085756
전남              0.180223               0.594855           0.117246
경북              0.191982               0.218650           0.158338
경남              0.223508               0.183280           0.317935
제주              0.036240               0.083601           0.000000

In [137]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
# CCTV 운영대수 열만 가져와서 합치기

crime_df = crime_df.merge(cctv2[['CCTV 설치/운영 대수 (대)']], on='지역')
crime_df

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대)
지역,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,270.0,271.0,272.0,272.0,273.0,1815847
부산,130148,126230,128725,127673,113558,107.0,107.0,109.0,109.0,109.0,242086
대구,82281,79489,82905,79182,72339,70.0,71.0,72.0,72.0,72.0,616636
인천,101526,94605,101289,96340,85432,84.0,84.0,85.0,85.0,85.0,334862
광주,54627,51223,52827,49869,44610,45.0,45.0,45.0,45.0,45.0,283180
대전,50357,48184,47929,46960,41921,33.0,33.0,34.0,36.0,37.0,222793
울산,26558,25323,25814,24911,23463,34.0,34.0,34.0,34.0,35.0,118350
세종,5023,5331,6300,6651,6147,10.0,10.0,10.0,10.0,10.0,174474
경기,459893,429953,433498,429487,388004,371.0,373.0,380.0,382.0,389.0,1937975
강원,58900,52495,53289,51544,45398,122.0,122.0,122.0,122.0,122.0,278993
충북,56944,53659,53801,51645,47020,90.0,90.0,91.0,91.0,91.0,244699
충남,73772,75405,73817,71847,63290,136.0,137.0,139.0,129.0,130.0,267057
전북,57238,56353,58012,56210,52587,178.0,178.0,179.0,179.0,179.0,213388
전남,64618,65932,68566,67448,60205,226.0,226.0,227.0,227.0,227.0,272790
경북,89049,85371,88098,83790,75300,255.0,256.0,257.0,258.0,258.0,350303
경남,127294,117243,123992,123406,111102,193.0,193.0,195.0,197.0,199.0,651360
제주,34177,30106,28318,29296,26499,27.0,28.0,29.0,29.0,29.0,51622

In [138]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
# CCTV 운영대수 열만 가져와서 합치기

crime_df_minmax = crime_df_minmax.merge(cctv_minmax[['CCTV 설치/운영 대수 (대)']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대)
지역,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.720222,0.719008,0.708108,0.704301,0.693931,0.935257
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.268698,0.267218,0.267568,0.266129,0.261214,0.100969
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.166205,0.168044,0.167568,0.166667,0.163588,0.299527
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.204986,0.203857,0.202703,0.201613,0.197889,0.150152
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.096953,0.096419,0.094595,0.094086,0.092348,0.122754
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.063712,0.063361,0.064865,0.069892,0.071240,0.090742
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.066482,0.066116,0.064865,0.064516,0.065963,0.035374
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.065127
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.310249,0.308540,0.302703,0.301075,0.295515,0.120535
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.221607,0.220386,0.218919,0.217742,0.213720,0.102355
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.349030,0.349862,0.348649,0.319892,0.316623,0.114207
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.465374,0.462810,0.456757,0.454301,0.445910,0.085756
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.598338,0.595041,0.586486,0.583333,0.572559,0.117246
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.678670,0.677686,0.667568,0.666667,0.654354,0.158338
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.506925,0.504132,0.500000,0.502688,0.498681,0.317935
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.047091,0.049587,0.051351,0.051075,0.050132,0.000000

## 외국인 비율

In [106]:
foreigner = pd.read_csv('./외국인__시군구_20230913163658.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
foreigner2 = foreigner.copy()
foreigner2

    행정구역별(시군구)     2017     2018     2019     2020     2021
0   행정구역별(시군구)      외국인      외국인      외국인      외국인      외국인
1           전국  1479247  1651561  1778918  1695643  1649967
2           읍부   168383   196488   218491   208405   206294
3           면부   242782   266223   282939   256636   241648
4           동부  1068082  1188850  1277488  1230602  1202025
5        서울특별시   343927   374425   390177   366454   347080
6        부산광역시    48808    55506    60502    54914    53334
7        대구광역시    31365    35280    40092    37398    36956
8        인천광역시    79170    88489   100174    99212   100379
9        광주광역시    26052    29833    33286    30573    30497
10       대전광역시    20534    22858    25147    22928    23263
11       울산광역시    26601    27162    28604    26895    25388
12     세종특별자치시     5290     6486     7829     7244     6991
13         경기도   497089   558197   594795   583462   571204
14         강원도    20996    24149    27008    24654    24582
15        충청북도    48237    54835    59783    57094    56631
16        충청남도    84752    95838   104018    99166    98612
17        전라북도    33764    39131    43960    42366    41047
18        전라남도    37212    42520    47778    45236    44159
19        경상북도    63978    74071    81840    74547    72798
20        경상남도    91072    97494   105908    96669    91836
21     제주특별자치도    20400    25287    28017    26831    25210

In [107]:
foreigner2 = foreigner2.drop([0, 1, 2, 3, 4], axis=0)
foreigner2 = foreigner2.drop('행정구역별(시군구)',axis=1)
foreigner2

      2017    2018    2019    2020    2021
5   343927  374425  390177  366454  347080
6    48808   55506   60502   54914   53334
7    31365   35280   40092   37398   36956
8    79170   88489  100174   99212  100379
9    26052   29833   33286   30573   30497
10   20534   22858   25147   22928   23263
11   26601   27162   28604   26895   25388
12    5290    6486    7829    7244    6991
13  497089  558197  594795  583462  571204
14   20996   24149   27008   24654   24582
15   48237   54835   59783   57094   56631
16   84752   95838  104018   99166   98612
17   33764   39131   43960   42366   41047
18   37212   42520   47778   45236   44159
19   63978   74071   81840   74547   72798
20   91072   97494  105908   96669   91836
21   20400   25287   28017   26831   25210

In [108]:
# 열 이름 변경
foreigner2 = foreigner2.rename(columns={'2017':'2017_외국인','2018':'2018_외국인','2019':'2019_외국인','2020':'2020_외국인','2021':'2021_외국인'})

# 열 추가
foreigner2['지역'] = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원',
                        '충북','충남','전북','전남','경북','경남','제주']

# 열 순서 변경
foreigner2 = foreigner2.reindex(columns=['지역','2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인'])

# index 지정
foreigner2 = foreigner2.set_index(['지역'])
foreigner2

   2017_외국인 2018_외국인 2019_외국인 2020_외국인 2021_외국인
지역
서울   343927   374425   390177   366454   347080
부산    48808    55506    60502    54914    53334
대구    31365    35280    40092    37398    36956
인천    79170    88489   100174    99212   100379
광주    26052    29833    33286    30573    30497
대전    20534    22858    25147    22928    23263
울산    26601    27162    28604    26895    25388
세종     5290     6486     7829     7244     6991
경기   497089   558197   594795   583462   571204
강원    20996    24149    27008    24654    24582
충북    48237    54835    59783    57094    56631
충남    84752    95838   104018    99166    98612
전북    33764    39131    43960    42366    41047
전남    37212    42520    47778    45236    44159
경북    63978    74071    81840    74547    72798
경남    91072    97494   105908    96669    91836
제주    20400    25287    28017    26831    25210

In [109]:
# 결측치 확인
pd.isna(foreigner2)

    2017_외국인  2018_외국인  2019_외국인  2020_외국인  2021_외국인
지역
서울     False     False     False     False     False
부산     False     False     False     False     False
대구     False     False     False     False     False
인천     False     False     False     False     False
광주     False     False     False     False     False
대전     False     False     False     False     False
울산     False     False     False     False     False
세종     False     False     False     False     False
경기     False     False     False     False     False
강원     False     False     False     False     False
충북     False     False     False     False     False
충남     False     False     False     False     False
전북     False     False     False     False     False
전남     False     False     False     False     False
경북     False     False     False     False     False
경남     False     False     False     False     False
제주     False     False     False     False     False

In [111]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인']
x = foreigner2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
foreigner_minmax = pd.DataFrame(x_scale, columns=col, index = foreigner2.index)
foreigner_minmax

    2017_외국인  2018_외국인  2019_외국인  2020_외국인  2021_외국인
지역
서울  0.688568  0.666905  0.651397  0.623393  0.602767
부산  0.088487  0.088851  0.089738  0.082729  0.082137
대구  0.053020  0.052190  0.054966  0.052331  0.053109
인천  0.150224  0.148634  0.157326  0.159606  0.165519
광주  0.042216  0.042317  0.043370  0.040486  0.041662
대전  0.030996  0.029675  0.029504  0.027219  0.028840
울산  0.043333  0.037476  0.035394  0.034103  0.032606
세종  0.000000  0.000000  0.000000  0.000000  0.000000
경기  1.000000  1.000000  1.000000  1.000000  1.000000
강원  0.031936  0.032015  0.032675  0.030214  0.031178
충북  0.087326  0.087635  0.088513  0.086512  0.087981
충남  0.161574  0.161954  0.163875  0.159526  0.162387
전북  0.057898  0.059170  0.061556  0.060953  0.060360
전남  0.064909  0.065313  0.068060  0.065933  0.065876
경북  0.119333  0.122501  0.126091  0.116801  0.116635
경남  0.174425  0.164956  0.167095  0.155193  0.150378
제주  0.030724  0.034078  0.034394  0.033992  0.032291

In [139]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime_df.merge(foreigner2[['2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인']], on='지역')
crime_df

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대),2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인
지역,,,,,,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,270.0,271.0,272.0,272.0,273.0,1815847,343927,374425,390177,366454,347080
부산,130148,126230,128725,127673,113558,107.0,107.0,109.0,109.0,109.0,242086,48808,55506,60502,54914,53334
대구,82281,79489,82905,79182,72339,70.0,71.0,72.0,72.0,72.0,616636,31365,35280,40092,37398,36956
인천,101526,94605,101289,96340,85432,84.0,84.0,85.0,85.0,85.0,334862,79170,88489,100174,99212,100379
광주,54627,51223,52827,49869,44610,45.0,45.0,45.0,45.0,45.0,283180,26052,29833,33286,30573,30497
대전,50357,48184,47929,46960,41921,33.0,33.0,34.0,36.0,37.0,222793,20534,22858,25147,22928,23263
울산,26558,25323,25814,24911,23463,34.0,34.0,34.0,34.0,35.0,118350,26601,27162,28604,26895,25388
세종,5023,5331,6300,6651,6147,10.0,10.0,10.0,10.0,10.0,174474,5290,6486,7829,7244,6991
경기,459893,429953,433498,429487,388004,371.0,373.0,380.0,382.0,389.0,1937975,497089,558197,594795,583462,571204
강원,58900,52495,53289,51544,45398,122.0,122.0,122.0,122.0,122.0,278993,20996,24149,27008,24654,24582
충북,56944,53659,53801,51645,47020,90.0,90.0,91.0,91.0,91.0,244699,48237,54835,59783,57094,56631
충남,73772,75405,73817,71847,63290,136.0,137.0,139.0,129.0,130.0,267057,84752,95838,104018,99166,98612
전북,57238,56353,58012,56210,52587,178.0,178.0,179.0,179.0,179.0,213388,33764,39131,43960,42366,41047
전남,64618,65932,68566,67448,60205,226.0,226.0,227.0,227.0,227.0,272790,37212,42520,47778,45236,44159
경북,89049,85371,88098,83790,75300,255.0,256.0,257.0,258.0,258.0,350303,63978,74071,81840,74547,72798
경남,127294,117243,123992,123406,111102,193.0,193.0,195.0,197.0,199.0,651360,91072,97494,105908,96669,91836
제주,34177,30106,28318,29296,26499,27.0,28.0,29.0,29.0,29.0,51622,20400,25287,28017,26831,25210

In [140]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_df_minmax.merge(foreigner_minmax[['2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대),2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인
지역,,,,,,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.720222,0.719008,0.708108,0.704301,0.693931,0.935257,0.688568,0.666905,0.651397,0.623393,0.602767
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.268698,0.267218,0.267568,0.266129,0.261214,0.100969,0.088487,0.088851,0.089738,0.082729,0.082137
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.166205,0.168044,0.167568,0.166667,0.163588,0.299527,0.053020,0.052190,0.054966,0.052331,0.053109
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.204986,0.203857,0.202703,0.201613,0.197889,0.150152,0.150224,0.148634,0.157326,0.159606,0.165519
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.096953,0.096419,0.094595,0.094086,0.092348,0.122754,0.042216,0.042317,0.043370,0.040486,0.041662
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.063712,0.063361,0.064865,0.069892,0.071240,0.090742,0.030996,0.029675,0.029504,0.027219,0.028840
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.066482,0.066116,0.064865,0.064516,0.065963,0.035374,0.043333,0.037476,0.035394,0.034103,0.032606
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.065127,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.310249,0.308540,0.302703,0.301075,0.295515,0.120535,0.031936,0.032015,0.032675,0.030214,0.031178
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.221607,0.220386,0.218919,0.217742,0.213720,0.102355,0.087326,0.087635,0.088513,0.086512,0.087981
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.349030,0.349862,0.348649,0.319892,0.316623,0.114207,0.161574,0.161954,0.163875,0.159526,0.162387
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.465374,0.462810,0.456757,0.454301,0.445910,0.085756,0.057898,0.059170,0.061556,0.060953,0.060360
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.598338,0.595041,0.586486,0.583333,0.572559,0.117246,0.064909,0.065313,0.068060,0.065933,0.065876
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.678670,0.677686,0.667568,0.666667,0.654354,0.158338,0.119333,0.122501,0.126091,0.116801,0.116635
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.506925,0.504132,0.500000,0.502688,0.498681,0.317935,0.174425,0.164956,0.167095,0.155193,0.150378
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.047091,0.049587,0.051351,0.051075,0.050132,0.000000,0.030724,0.034078,0.034394,0.033992,0.032291

## 평균 연령

In [113]:
age = pd.read_csv('./201701_202112_주민등록인구기타현황(평균연령)_avgAge.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
age2 = age.copy()
age2

,행정구역,2017년01월_남자 평균연령,2017년01월_여자 평균연령,2017년01월_평균연령,2017년02월_남자 평균연령,2017년02월_여자 평균연령,2017년02월_평균연령,2017년03월_남자 평균연령,2017년03월_여자 평균연령,2017년03월_평균연령,...,2021년09월_평균연령,2021년10월_남자 평균연령,2021년10월_여자 평균연령,2021년10월_평균연령,2021년11월_남자 평균연령,2021년11월_여자 평균연령,2021년11월_평균연령,2021년12월_남자 평균연령,2021년12월_여자 평균연령,2021년12월_평균연령
0,전국 (1000000000),39.9,42.2,41.1,40.0,42.3,41.1,40.0,42.3,41.2,...,43.6,42.5,44.7,43.6,42.5,44.8,43.7,42.6,44.8,43.7
1,서울특별시 (1100000000),40.3,42.1,41.2,40.4,42.1,41.3,40.4,42.1,41.3,...,43.4,42.7,44.3,43.5,42.7,44.3,43.5,42.7,44.3,43.6
2,부산광역시 (2600000000),41.6,44.1,42.8,41.6,44.1,42.9,41.7,44.2,42.9,...,45.4,44.2,46.7,45.5,44.2,46.7,45.5,44.3,46.8,45.6
3,대구광역시 (2700000000),39.8,42.6,41.2,39.8,42.6,41.2,39.9,42.7,41.3,...,43.9,42.5,45.3,44.0,42.6,45.4,44.0,42.6,45.4,44.1
4,인천광역시 (2800000000),39.0,40.9,40.0,39.1,40.9,40.0,39.2,41.0,40.1,...,42.7,41.8,43.7,42.8,41.8,43.8,42.8,41.9,43.8,42.8
5,광주광역시 (2900000000),37.9,40.3,39.1,38.0,40.3,39.2,38.0,40.4,39.2,...,41.7,40.6,42.9,41.8,40.6,43.0,41.8,40.7,43.0,41.9
6,대전광역시 (3000000000),38.5,40.6,39.5,38.5,40.6,39.6,38.6,40.7,39.6,...,42.3,41.3,43.4,42.3,41.3,43.5,42.4,41.4,43.5,42.4
7,울산광역시 (3100000000),38.1,39.9,39.0,38.1,40.0,39.0,38.2,40.1,39.1,...,42.1,41.2,43.2,42.2,41.3,43.2,42.2,41.3,43.3,42.3
8,세종특별자치시 (3600000000),36.1,37.5,36.8,36.1,37.5,36.8,36.1,37.4,36.8,...,37.7,37.1,38.2,37.7,37.2,38.3,37.7,37.2,38.3,37.7
9,경기도 (4100000000),38.5,40.2,39.3,38.5,40.2,39.4,38.6,40.3,39.4,...,41.8,40.9,42.7,41.8,41.0,42.7,41.8,41.0,42.8,41.9
10,강원도 (4200000000),42.0,45.1,43.5,42.1,45.2,43.6,42.1,45.2,43.7,...,46.3,44.9,47.9,46.4,44.9,47.9,46.4,44.9,48.0,46.4
11,충청북도 (4300000000),40.5,43.3,41.9,40.6,43.3,42.0,40.7,43.4,42.0,...,44.5,43.2,46.0,44.6,43.3,46.0,44.6,43.3,46.1,44.7
12,충청남도 (4400000000),40.7,43.5,42.1,40.8,43.6,42.2,40.8,43.6,42.2,...,44.6,43.3,46.1,44.7,43.3,46.1,44.7,43.4,46.2,44.8
13,전라북도 (4500000000),41.5,44.7,43.1,41.5,44.8,43.2,41.6,44.9,43.2,...,46.0,44.5,47.7,46.1,44.5,47.7,46.1,44.6,47.8,46.2
14,전라남도 (4600000000),42.6,46.4,44.5,42.7,46.5,44.6,42.7,46.6,44.7,...,47.3,45.5,49.2,47.3,45.5,49.2,47.4,45.6,49.3,47.4
15,경상북도 (4700000000),42.1,45.6,43.8,42.1,45.7,43.9,42.2,45.8,44.0,...,46.7,45.0,48.6,46.8,45.1,48.6,46.8,45.1,48.7,46.9
16,경상남도 (4800000000),39.9,42.9,41.4,40.0,43.0,41.5,40.0,43.1,41.5,...,44.4,42.9,45.9,44.4,43.0,46.0,44.5,43.1,46.0,44.5
17,제주특별자치도 (5000000000),39.2,41.9,40.6,39.3,41.9,40.6,39.3,42.0,40.6,...,42.7,41.6,44.0,42.8,41.6,44.0,42.8,41.7,44.1,42.9

In [114]:
# 불필요한 열 삭제(성별 평균 연령)

for i in range(2017,2022):
    i = str(i)
    for j in range(1,10):
        j=str(j)
        age2 = age2.drop([i+'년0'+j+'월_남자 평균연령', i+'년0'+j+'월_여자 평균연령'],axis=1)

    for k in range(10,13):
        k=str(k)
        age2 = age2.drop([i+'년'+k+'월_남자 평균연령', i+'년'+k+'월_여자 평균연령'],axis=1)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년03월_평균연령,2021년04월_평균연령,2021년05월_평균연령,2021년06월_평균연령,2021년07월_평균연령,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.3,43.4,43.4,43.4,43.5,43.5,43.6,43.6,43.7,43.7
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.2,43.3,43.3,43.3,43.4,43.4,43.4,43.5,43.5,43.6
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.2,45.2,45.3,45.3,45.3,45.4,45.4,45.5,45.5,45.6
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.7,43.7,43.8,43.8,43.8,43.9,43.9,44.0,44.0,44.1
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.5,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.8
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.5,41.6,41.6,41.6,41.7,41.7,41.7,41.8,41.8,41.9
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.1,42.1,42.1,42.2,42.2,42.3,42.3,42.3,42.4,42.4
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,41.8,41.8,41.9,41.9,42.0,42.1,42.1,42.2,42.2,42.3
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.4,37.5,37.5,37.5,37.6,37.6,37.7,37.7,37.7,37.7
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.5,41.5,41.6,41.6,41.7,41.7,41.8,41.8,41.8,41.9
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.1,46.1,46.1,46.2,46.2,46.3,46.3,46.4,46.4,46.4
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.3,44.3,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7,44.7,44.8
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,45.8,45.8,45.8,45.9,45.9,46.0,46.0,46.1,46.1,46.2
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.0,47.0,47.1,47.1,47.2,47.2,47.3,47.3,47.4,47.4
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.5,46.5,46.6,46.6,46.6,46.7,46.7,46.8,46.8,46.9
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.1,44.1,44.2,44.2,44.2,44.3,44.4,44.4,44.5,44.5
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.5,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.9

In [115]:
# 결측치 갯수 세기
age.isnull().sum(axis=1) # 행으로 계산

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [116]:
# 월별로 나누어져 있는 데이터를 연도별로 합치기
    
for i in range(2017,2022):
    i = str(i)
    age2.loc[:, i+'년_평균연령'] = round(age2.loc[:,(i+'년01월_평균연령'):(i+'년12월_평균연령')].sum(axis=1)/12,2)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.5,43.6,43.6,43.7,43.7,41.29,41.82,42.38,42.94,43.48
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.4,43.4,43.5,43.5,43.6,41.42,41.94,42.44,42.93,43.37
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.4,45.4,45.5,45.5,45.6,43.08,43.67,44.25,44.82,45.33
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.9,43.9,44.0,44.0,44.1,41.42,41.97,42.59,43.22,43.82
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.7,42.7,42.8,42.8,42.8,40.22,40.80,41.39,42.02,42.62
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.7,41.7,41.8,41.8,41.9,39.37,39.93,40.51,41.10,41.65
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.3,42.3,42.3,42.4,42.4,39.78,40.40,41.01,41.62,42.20
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,42.1,42.1,42.2,42.2,42.3,39.26,39.90,40.58,41.26,41.98
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.6,37.7,37.7,37.7,37.7,36.72,36.63,36.81,37.17,37.56
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.7,41.8,41.8,41.8,41.9,39.56,40.07,40.61,41.14,41.65
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.3,46.3,46.4,46.4,46.4,43.82,44.43,45.04,45.66,46.21
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.5,44.5,44.6,44.6,44.7,42.14,42.68,43.24,43.83,44.42
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.6,44.6,44.7,44.7,44.8,42.32,42.79,43.33,43.93,44.52
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,46.0,46.0,46.1,46.1,46.2,43.38,44.00,44.64,45.30,45.91
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.2,47.3,47.3,47.4,47.4,44.79,45.34,45.93,46.54,47.15
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.7,46.7,46.8,46.8,46.9,44.11,44.69,45.32,45.98,46.62
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.3,44.4,44.4,44.5,44.5,41.67,42.24,42.87,43.55,44.23
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.7,42.7,42.8,42.8,42.9,40.74,41.12,41.62,42.16,42.63

In [117]:
# 불필요한 열 삭제
for i in range(2017,2022):
    i = str(i)
    m = ['01','02','03','04','05','06','07','08','09','10','11','12']
    for j in m:
        age2 = age2.drop([i+'년'+j+'월_평균연령'],axis=1)

# 불필요한 행 삭제
age2 = age2.drop(0, axis=0)

age2

,행정구역,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
1,서울특별시 (1100000000),41.42,41.94,42.44,42.93,43.37
2,부산광역시 (2600000000),43.08,43.67,44.25,44.82,45.33
3,대구광역시 (2700000000),41.42,41.97,42.59,43.22,43.82
4,인천광역시 (2800000000),40.22,40.80,41.39,42.02,42.62
5,광주광역시 (2900000000),39.37,39.93,40.51,41.10,41.65
6,대전광역시 (3000000000),39.78,40.40,41.01,41.62,42.20
7,울산광역시 (3100000000),39.26,39.90,40.58,41.26,41.98
8,세종특별자치시 (3600000000),36.72,36.63,36.81,37.17,37.56
9,경기도 (4100000000),39.56,40.07,40.61,41.14,41.65
10,강원도 (4200000000),43.82,44.43,45.04,45.66,46.21
11,충청북도 (4300000000),42.14,42.68,43.24,43.83,44.42
12,충청남도 (4400000000),42.32,42.79,43.33,43.93,44.52
13,전라북도 (4500000000),43.38,44.00,44.64,45.30,45.91
14,전라남도 (4600000000),44.79,45.34,45.93,46.54,47.15
15,경상북도 (4700000000),44.11,44.69,45.32,45.98,46.62
16,경상남도 (4800000000),41.67,42.24,42.87,43.55,44.23
17,제주특별자치도 (5000000000),40.74,41.12,41.62,42.16,42.63

In [118]:
age2.columns = ['지역', '2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']
age2 = age2.set_index(["지역"])
age2

,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,
서울특별시 (1100000000),41.42,41.94,42.44,42.93,43.37
부산광역시 (2600000000),43.08,43.67,44.25,44.82,45.33
대구광역시 (2700000000),41.42,41.97,42.59,43.22,43.82
인천광역시 (2800000000),40.22,40.80,41.39,42.02,42.62
광주광역시 (2900000000),39.37,39.93,40.51,41.10,41.65
대전광역시 (3000000000),39.78,40.40,41.01,41.62,42.20
울산광역시 (3100000000),39.26,39.90,40.58,41.26,41.98
세종특별자치시 (3600000000),36.72,36.63,36.81,37.17,37.56
경기도 (4100000000),39.56,40.07,40.61,41.14,41.65
강원도 (4200000000),43.82,44.43,45.04,45.66,46.21
충청북도 (4300000000),42.14,42.68,43.24,43.83,44.42
충청남도 (4400000000),42.32,42.79,43.33,43.93,44.52
전라북도 (4500000000),43.38,44.00,44.64,45.30,45.91
전라남도 (4600000000),44.79,45.34,45.93,46.54,47.15
경상북도 (4700000000),44.11,44.69,45.32,45.98,46.62
경상남도 (4800000000),41.67,42.24,42.87,43.55,44.23
제주특별자치도 (5000000000),40.74,41.12,41.62,42.16,42.63

In [119]:
# 행 이름 변경
age2 = age2.rename(index={'서울특별시  (1100000000)':'서울','부산광역시  (2600000000)':'부산','대구광역시  (2700000000)':'대구',
                          '인천광역시  (2800000000)':'인천','광주광역시  (2900000000)':'광주','대전광역시  (3000000000)':'대전',
                         '울산광역시  (3100000000)':'울산','세종특별자치시  (3600000000)':'세종','경기도  (4100000000)':'경기',
                         '강원도  (4200000000)':'강원','충청북도  (4300000000)':'충북','충청남도  (4400000000)':'충남',
                         '전라북도  (4500000000)':'전북', '전라남도  (4600000000)':'전남','경상북도  (4700000000)':'경북',
                         '경상남도  (4800000000)':'경남','제주특별자치도  (5000000000)':'제주'})
age2

    2017년_평균연령  2018년_평균연령  2019년_평균연령  2020년_평균연령  2021년_평균연령
지역
서울       41.42       41.94       42.44       42.93       43.37
부산       43.08       43.67       44.25       44.82       45.33
대구       41.42       41.97       42.59       43.22       43.82
인천       40.22       40.80       41.39       42.02       42.62
광주       39.37       39.93       40.51       41.10       41.65
대전       39.78       40.40       41.01       41.62       42.20
울산       39.26       39.90       40.58       41.26       41.98
세종       36.72       36.63       36.81       37.17       37.56
경기       39.56       40.07       40.61       41.14       41.65
강원       43.82       44.43       45.04       45.66       46.21
충북       42.14       42.68       43.24       43.83       44.42
충남       42.32       42.79       43.33       43.93       44.52
전북       43.38       44.00       44.64       45.30       45.91
전남       44.79       45.34       45.93       46.54       47.15
경북       44.11       44.69       45.32       45.98       46.62
경남       41.67       42.24       42.87       43.55       44.23
제주       40.74       41.12       41.62       42.16       42.63

In [120]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']
x = age2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
age_minmax = pd.DataFrame(x_scale, columns=col, index = age2.index)
age_minmax

    2017년_평균연령  2018년_평균연령  2019년_평균연령  2020년_평균연령  2021년_평균연령
지역
서울    0.582404    0.609644    0.617325    0.614728    0.605839
부산    0.788104    0.808266    0.815789    0.816435    0.810219
대구    0.582404    0.613088    0.633772    0.645678    0.652763
인천    0.433705    0.478760    0.502193    0.517609    0.527633
광주    0.328377    0.378875    0.405702    0.419424    0.426486
대전    0.379182    0.432836    0.460526    0.474920    0.483837
울산    0.314746    0.375431    0.413377    0.436499    0.460897
세종    0.000000    0.000000    0.000000    0.000000    0.000000
경기    0.351921    0.394948    0.416667    0.423693    0.426486
강원    0.879802    0.895522    0.902412    0.906083    0.901981
충북    0.671623    0.694604    0.705044    0.710779    0.715328
충남    0.693928    0.707233    0.714912    0.721451    0.725756
전북    0.825279    0.846154    0.858553    0.867663    0.870699
전남    1.000000    1.000000    1.000000    1.000000    1.000000
경북    0.915737    0.925373    0.933114    0.940235    0.944734
경남    0.613383    0.644087    0.664474    0.680896    0.695516
제주    0.498141    0.515499    0.527412    0.532551    0.528676

In [141]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime_df.merge(age2[['2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']], on='지역')
crime_df

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",...,2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,270.0,271.0,272.0,272.0,273.0,...,343927,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37
부산,130148,126230,128725,127673,113558,107.0,107.0,109.0,109.0,109.0,...,48808,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33
대구,82281,79489,82905,79182,72339,70.0,71.0,72.0,72.0,72.0,...,31365,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82
인천,101526,94605,101289,96340,85432,84.0,84.0,85.0,85.0,85.0,...,79170,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62
광주,54627,51223,52827,49869,44610,45.0,45.0,45.0,45.0,45.0,...,26052,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65
대전,50357,48184,47929,46960,41921,33.0,33.0,34.0,36.0,37.0,...,20534,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20
울산,26558,25323,25814,24911,23463,34.0,34.0,34.0,34.0,35.0,...,26601,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98
세종,5023,5331,6300,6651,6147,10.0,10.0,10.0,10.0,10.0,...,5290,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56
경기,459893,429953,433498,429487,388004,371.0,373.0,380.0,382.0,389.0,...,497089,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65
강원,58900,52495,53289,51544,45398,122.0,122.0,122.0,122.0,122.0,...,20996,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21
충북,56944,53659,53801,51645,47020,90.0,90.0,91.0,91.0,91.0,...,48237,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42
충남,73772,75405,73817,71847,63290,136.0,137.0,139.0,129.0,130.0,...,84752,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52
전북,57238,56353,58012,56210,52587,178.0,178.0,179.0,179.0,179.0,...,33764,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91
전남,64618,65932,68566,67448,60205,226.0,226.0,227.0,227.0,227.0,...,37212,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15
경북,89049,85371,88098,83790,75300,255.0,256.0,257.0,258.0,258.0,...,63978,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62
경남,127294,117243,123992,123406,111102,193.0,193.0,195.0,197.0,199.0,...,91072,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23
제주,34177,30106,28318,29296,26499,27.0,28.0,29.0,29.0,29.0,...,20400,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63

In [142]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_minmax.merge(age_minmax[['2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.582404,0.609644,0.617325,0.614728,0.605839
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.788104,0.808266,0.815789,0.816435,0.810219
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.582404,0.613088,0.633772,0.645678,0.652763
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.433705,0.478760,0.502193,0.517609,0.527633
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.328377,0.378875,0.405702,0.419424,0.426486
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.379182,0.432836,0.460526,0.474920,0.483837
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.314746,0.375431,0.413377,0.436499,0.460897
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000,0.351921,0.394948,0.416667,0.423693,0.426486
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.879802,0.895522,0.902412,0.906083,0.901981
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.671623,0.694604,0.705044,0.710779,0.715328
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.693928,0.707233,0.714912,0.721451,0.725756
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.825279,0.846154,0.858553,0.867663,0.870699
전남,0.131015,0.142718,0.145754,0.143784,0.141566,1.000000,1.000000,1.000000,1.000000,1.000000
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.915737,0.925373,0.933114,0.940235,0.944734
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.613383,0.644087,0.664474,0.680896,0.695516
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.498141,0.515499,0.527412,0.532551,0.528676

## 인구수

In [123]:
num = pd.read_csv('./202308_202308_주민등록인구및세대현황_월간.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
num2 = num.copy()
num2

,행정구역,2023년08월_총인구수,2023년08월_세대수,2023년08월_세대당 인구,2023년08월_남자 인구수,2023년08월_여자 인구수,2023년08월_남여 비율
0,전국 (1000000000),"51,377,213","23,888,954",2.15,"25,596,921","25,780,292",0.99
1,서울특별시 (1100000000),"9,409,466","4,473,734",2.10,"4,554,020","4,855,446",0.94
2,부산광역시 (2600000000),"3,302,740","1,564,900",2.11,"1,610,738","1,692,002",0.95
3,대구광역시 (2700000000),"2,378,464","1,091,990",2.18,"1,169,083","1,209,381",0.97
4,인천광역시 (2800000000),"2,985,152","1,341,807",2.22,"1,493,440","1,491,712",1.00
5,광주광역시 (2900000000),"1,423,810","656,055",2.17,"703,131","720,679",0.98
6,대전광역시 (3000000000),"1,444,837","680,337",2.12,"720,688","724,149",1.00
7,울산광역시 (3100000000),"1,104,448","489,064",2.26,"567,403","537,045",1.06
8,세종특별자치시 (3600000000),"385,953","160,439",2.41,"192,271","193,682",0.99
9,경기도 (4100000000),"13,624,964","5,965,990",2.28,"6,855,409","6,769,555",1.01
10,강원특별자치도 (5100000000),"1,531,390","760,627",2.01,"770,401","760,989",1.01
11,충청북도 (4300000000),"1,594,337","779,442",2.05,"810,927","783,410",1.04
12,충청남도 (4400000000),"2,127,077","1,031,232",2.06,"1,089,549","1,037,528",1.05
13,전라북도 (4500000000),"1,759,815","861,561",2.04,"875,839","883,976",0.99
14,전라남도 (4600000000),"1,808,339","912,139",1.98,"911,340","896,999",1.02
15,경상북도 (4700000000),"2,561,623","1,282,304",2.00,"1,293,508","1,268,115",1.02
16,경상남도 (4800000000),"3,258,309","1,524,252",2.14,"1,640,552","1,617,757",1.01
17,제주특별자치도 (5000000000),"676,489","313,081",2.16,"338,622","337,867",1.00

In [124]:
# 불필요한 열 제거

num2 = num2.drop(['2023년08월_세대수','2023년08월_세대당 인구', '2023년08월_남자 인구수', '2023년08월_여자 인구수','2023년08월_남여 비율'],axis=1)

# 불필요한 행 제거
num2 = num2.drop([0])
num2

                     행정구역 2023년08월_총인구수
1     서울특별시  (1100000000)     9,409,466
2     부산광역시  (2600000000)     3,302,740
3     대구광역시  (2700000000)     2,378,464
4     인천광역시  (2800000000)     2,985,152
5     광주광역시  (2900000000)     1,423,810
6     대전광역시  (3000000000)     1,444,837
7     울산광역시  (3100000000)     1,104,448
8   세종특별자치시  (3600000000)       385,953
9       경기도  (4100000000)    13,624,964
10  강원특별자치도  (5100000000)     1,531,390
11     충청북도  (4300000000)     1,594,337
12     충청남도  (4400000000)     2,127,077
13     전라북도  (4500000000)     1,759,815
14     전라남도  (4600000000)     1,808,339
15     경상북도  (4700000000)     2,561,623
16     경상남도  (4800000000)     3,258,309
17  제주특별자치도  (5000000000)       676,489

In [125]:
# 열 이름 변경
num2 = num2.rename(columns={'행정구역':'지역','2023년08월_총인구수':'총인구수'})

# index 지정
num2.columns = ['지역', '총인구수']
num2 = num2.set_index(["지역"])
num2

                             총인구수
지역
서울특별시  (1100000000)     9,409,466
부산광역시  (2600000000)     3,302,740
대구광역시  (2700000000)     2,378,464
인천광역시  (2800000000)     2,985,152
광주광역시  (2900000000)     1,423,810
대전광역시  (3000000000)     1,444,837
울산광역시  (3100000000)     1,104,448
세종특별자치시  (3600000000)     385,953
경기도  (4100000000)      13,624,964
강원특별자치도  (5100000000)   1,531,390
충청북도  (4300000000)      1,594,337
충청남도  (4400000000)      2,127,077
전라북도  (4500000000)      1,759,815
전라남도  (4600000000)      1,808,339
경상북도  (4700000000)      2,561,623
경상남도  (4800000000)      3,258,309
제주특별자치도  (5000000000)     676,489

In [126]:
# 행 이름 변경
num2 = num2.rename(index={'서울특별시  (1100000000)':'서울','부산광역시  (2600000000)':'부산','대구광역시  (2700000000)':'대구',
                          '인천광역시  (2800000000)':'인천','광주광역시  (2900000000)':'광주','대전광역시  (3000000000)':'대전',
                         '울산광역시  (3100000000)':'울산','세종특별자치시  (3600000000)':'세종','경기도  (4100000000)':'경기',
                         '강원특별자치도  (5100000000)':'강원','충청북도  (4300000000)':'충북','충청남도  (4400000000)':'충남',
                         '전라북도  (4500000000)':'전북', '전라남도  (4600000000)':'전남','경상북도  (4700000000)':'경북',
                         '경상남도  (4800000000)':'경남','제주특별자치도  (5000000000)':'제주'})
num2

          총인구수
지역
서울   9,409,466
부산   3,302,740
대구   2,378,464
인천   2,985,152
광주   1,423,810
대전   1,444,837
울산   1,104,448
세종     385,953
경기  13,624,964
강원   1,531,390
충북   1,594,337
충남   2,127,077
전북   1,759,815
전남   1,808,339
경북   2,561,623
경남   3,258,309
제주     676,489

In [143]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime_df.merge(num2[['총인구수']], on='지역')
crime_df

,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",...,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,총인구수
지역,,,,,,,,,,,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,270.0,271.0,272.0,272.0,273.0,...,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37,"9,409,466"
부산,130148,126230,128725,127673,113558,107.0,107.0,109.0,109.0,109.0,...,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33,"3,302,740"
대구,82281,79489,82905,79182,72339,70.0,71.0,72.0,72.0,72.0,...,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82,"2,378,464"
인천,101526,94605,101289,96340,85432,84.0,84.0,85.0,85.0,85.0,...,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62,"2,985,152"
광주,54627,51223,52827,49869,44610,45.0,45.0,45.0,45.0,45.0,...,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65,"1,423,810"
대전,50357,48184,47929,46960,41921,33.0,33.0,34.0,36.0,37.0,...,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20,"1,444,837"
울산,26558,25323,25814,24911,23463,34.0,34.0,34.0,34.0,35.0,...,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98,"1,104,448"
세종,5023,5331,6300,6651,6147,10.0,10.0,10.0,10.0,10.0,...,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56,"385,953"
경기,459893,429953,433498,429487,388004,371.0,373.0,380.0,382.0,389.0,...,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65,"13,624,964"
강원,58900,52495,53289,51544,45398,122.0,122.0,122.0,122.0,122.0,...,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21,"1,531,390"
충북,56944,53659,53801,51645,47020,90.0,90.0,91.0,91.0,91.0,...,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42,"1,594,337"
충남,73772,75405,73817,71847,63290,136.0,137.0,139.0,129.0,130.0,...,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52,"2,127,077"
전북,57238,56353,58012,56210,52587,178.0,178.0,179.0,179.0,179.0,...,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91,"1,759,815"
전남,64618,65932,68566,67448,60205,226.0,226.0,227.0,227.0,227.0,...,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15,"1,808,339"
경북,89049,85371,88098,83790,75300,255.0,256.0,257.0,258.0,258.0,...,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62,"2,561,623"
경남,127294,117243,123992,123406,111102,193.0,193.0,195.0,197.0,199.0,...,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23,"3,258,309"
제주,34177,30106,28318,29296,26499,27.0,28.0,29.0,29.0,29.0,...,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63,"676,489"

In [144]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_df_minmax.merge(num2[['총인구수']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,총인구수
지역,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.582404,0.609644,0.617325,0.614728,0.605839,"9,409,466"
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.788104,0.808266,0.815789,0.816435,0.810219,"3,302,740"
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.582404,0.613088,0.633772,0.645678,0.652763,"2,378,464"
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.433705,0.478760,0.502193,0.517609,0.527633,"2,985,152"
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.328377,0.378875,0.405702,0.419424,0.426486,"1,423,810"
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.379182,0.432836,0.460526,0.474920,0.483837,"1,444,837"
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.314746,0.375431,0.413377,0.436499,0.460897,"1,104,448"
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"385,953"
경기,1.000000,1.000000,1.000000,1.000000,1.000000,0.351921,0.394948,0.416667,0.423693,0.426486,"13,624,964"
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.879802,0.895522,0.902412,0.906083,0.901981,"1,531,390"
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.671623,0.694604,0.705044,0.710779,0.715328,"1,594,337"
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.693928,0.707233,0.714912,0.721451,0.725756,"2,127,077"
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.825279,0.846154,0.858553,0.867663,0.870699,"1,759,815"
전남,0.131015,0.142718,0.145754,0.143784,0.141566,1.000000,1.000000,1.000000,1.000000,1.000000,"1,808,339"
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.915737,0.925373,0.933114,0.940235,0.944734,"2,561,623"
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.613383,0.644087,0.664474,0.680896,0.695516,"3,258,309"
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.498141,0.515499,0.527412,0.532551,0.528676,"676,489"

In [145]:
# 열 순서 변경
crime_df = crime_df.reindex(columns=['총인구수','2017','2018','2019','2020','2021','경찰서','지구대','파출소','CCTV설치/운영 대수(대)','2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인','2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령'])
crime_df

,총인구수,2017,2018,2019,2020,2021,경찰서,지구대,파출소,CCTV설치/운영 대수(대),2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,
서울,"9,409,466",352471,341288,340504,318320,274830,NaN,NaN,NaN,NaN,343927,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37
부산,"3,302,740",130148,126230,128725,127673,113558,NaN,NaN,NaN,NaN,48808,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33
대구,"2,378,464",82281,79489,82905,79182,72339,NaN,NaN,NaN,NaN,31365,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82
인천,"2,985,152",101526,94605,101289,96340,85432,NaN,NaN,NaN,NaN,79170,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62
광주,"1,423,810",54627,51223,52827,49869,44610,NaN,NaN,NaN,NaN,26052,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65
대전,"1,444,837",50357,48184,47929,46960,41921,NaN,NaN,NaN,NaN,20534,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20
울산,"1,104,448",26558,25323,25814,24911,23463,NaN,NaN,NaN,NaN,26601,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98
세종,"385,953",5023,5331,6300,6651,6147,NaN,NaN,NaN,NaN,5290,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56
경기,"13,624,964",459893,429953,433498,429487,388004,NaN,NaN,NaN,NaN,497089,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65
강원,"1,531,390",58900,52495,53289,51544,45398,NaN,NaN,NaN,NaN,20996,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21
충북,"1,594,337",56944,53659,53801,51645,47020,NaN,NaN,NaN,NaN,48237,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42
충남,"2,127,077",73772,75405,73817,71847,63290,NaN,NaN,NaN,NaN,84752,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52
전북,"1,759,815",57238,56353,58012,56210,52587,NaN,NaN,NaN,NaN,33764,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91
전남,"1,808,339",64618,65932,68566,67448,60205,NaN,NaN,NaN,NaN,37212,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15
경북,"2,561,623",89049,85371,88098,83790,75300,NaN,NaN,NaN,NaN,63978,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62
경남,"3,258,309",127294,117243,123992,123406,111102,NaN,NaN,NaN,NaN,91072,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23
제주,"676,489",34177,30106,28318,29296,26499,NaN,NaN,NaN,NaN,20400,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63

In [146]:
# 열 순서 변경
crime_df_minmax = crime_df_minmax.reindex(columns=['총인구수','2017','2018','2019','2020','2021','경찰서','지구대','파출소','CCTV설치/운영 대수(대)','2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인','2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령'])
crime_df_minmax

,총인구수,2017,2018,2019,2020,2021,경찰서,지구대,파출소,CCTV설치/운영 대수(대),2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,
서울,"9,409,466",0.763840,0.791191,0.782316,0.737092,0.703622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.582404,0.609644,0.617325,0.614728,0.605839
부산,"3,302,740",0.275079,0.284721,0.286577,0.286215,0.281286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.788104,0.808266,0.815789,0.816435,0.810219
대구,"2,378,464",0.169846,0.174645,0.179320,0.171535,0.173342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.582404,0.613088,0.633772,0.645678,0.652763
인천,"2,985,152",0.212155,0.210243,0.222354,0.212113,0.207630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.433705,0.478760,0.502193,0.517609,0.527633
광주,"1,423,810",0.109051,0.108077,0.108912,0.102210,0.100726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.328377,0.378875,0.405702,0.419424,0.426486
대전,"1,444,837",0.099664,0.100920,0.097447,0.095330,0.093684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.379182,0.432836,0.460526,0.474920,0.483837
울산,"1,104,448",0.047343,0.047082,0.045679,0.043185,0.045347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.314746,0.375431,0.413377,0.436499,0.460897
세종,"385,953",0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
경기,"13,624,964",1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.351921,0.394948,0.416667,0.423693,0.426486
강원,"1,531,390",0.118445,0.111073,0.109993,0.106171,0.102790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.879802,0.895522,0.902412,0.906083,0.901981
충북,"1,594,337",0.114145,0.113814,0.111192,0.106410,0.107037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.671623,0.694604,0.705044,0.710779,0.715328
충남,"2,127,077",0.151140,0.165027,0.158046,0.154187,0.149645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.693928,0.707233,0.714912,0.721451,0.725756
전북,"1,759,815",0.114791,0.120159,0.121049,0.117206,0.121616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.825279,0.846154,0.858553,0.867663,0.870699
전남,"1,808,339",0.131015,0.142718,0.145754,0.143784,0.141566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000
경북,"2,561,623",0.184725,0.188497,0.191476,0.182432,0.181097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.915737,0.925373,0.933114,0.940235,0.944734
경남,"3,258,309",0.268804,0.263557,0.275498,0.276124,0.274854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.613383,0.644087,0.664474,0.680896,0.695516
제주,"676,489",0.064093,0.058346,0.051541,0.053555,0.053297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.498141,0.515499,0.527412,0.532551,0.528676